@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;700&display=swap');

body {
	background-color: #313030;
}

* {
	font-family: 'Poppins';
	box-sizing: border-box;

	color: #fff;
}

h1 {
    text-align: center;
}

.calendar-container {
    margin: 0 auto;
    background-color: #DDD;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
	background-color: #7a7a30;
}

.calendar-container .item-container {
    border-bottom: 1px solid #AAA;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.calendar-container .calendar-new-item-title {
    line-height: 30px;
    font-size: 20px;
}

.calendar-container button {
    line-height: 25px;
    font-size: 15px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

button {
	width: 90px;
	height: 40px;
	outline: none;
	border: none;
	margin-right: 5px;
	background-color: #4c4512;
}

button:hover {
	background-color: #bbae20;
	transition: .3s ease;
	cursor: pointer;
}

button:last-child {
	margin-right: 0;

}

.calendar-new-item-title {
	height: 40px;
	border-radius: 10px;
	margin-right: 10px;
	border: none;
	/*color: black;*/
	background-color: #4c4512;
}